body{
    margin: 0px;
    background-color: #053439;
}
.cadastro{
    display: flex;
    background-color: rgb(138, 102, 55);    
    border-radius: 5%;
    text-align: center;
    height: 200px;
    width: 15%;
    margin: auto;
    margin-top: 15%;
}
.txt{
    font-family:monospace;
}
.btn{
    margin-top: 10%;
    width: 70px;
    height: 30px;
    background-color: antiquewhite;
    border-radius: 5px;
    transition: 1s;
    
}
.btn:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: bisque;
}
.texto{
    background-color: antiquewhite;
    border-radius: 5px;
    height: 20px;
    transition: 1s;
}
.texto:hover{
    background-color: bisque;
}

